[Задание](https://it-lms.tusur.ru/course/view.php?id=41)

[Практика](https://colab.research.google.com/drive/1CyyOdgtGMJVOLmhIa-aID59Y0rgLkE97?usp=sharing#scrollTo=9Kze7C4A8SId)

# Задание 1. Загрузка и подготовка данных

1) Загрузите preprocessed_orders.csv.
2) Выполните агрегацию на уровне store_id и рассчитайте перечисленные признаки.
3) Проведите первичную проверку: размеры таблицы, типы, пропуски, базовые описательные статистики.

## Загрузите preprocessed_orders.csv

In [ ]:
import sys
import pandas as pd


if "google.colab" in sys.modules:
    from google.colab import drive  # pyright: ignore[reportMissingImports]

    drive.mount("./it-lms")
    df = pd.read_csv("it-lms/MyDrive/it-lms/module_4/data/preprocessed_orders.csv")
else:
    df = pd.read_csv("data/preprocessed_orders.csv")

In [78]:
df.head()

,Unnamed: 0,store_id,order_id,product_id,price,profit,delivery_distance,planned_prep_time,region_id,order_price,items_count,prepared_on_time
0,0,5014.0,20562761.0,41.0,7.04,45.504,2205.0,15.0,683.0,30.49,2.0,1.0
1,1,5014.0,20562761.0,31.0,23.45,45.504,2205.0,15.0,683.0,30.49,2.0,1.0
2,2,3856.0,20562753.0,7.0,51.94,30.336,1368.0,10.0,683.0,240.78,2.0,1.0
3,3,3856.0,20562753.0,4.0,98.96,30.336,1368.0,10.0,683.0,240.78,2.0,1.0
4,4,10825.0,20562723.0,12.0,85.99,43.608,459.0,20.0,683.0,85.99,1.0,1.0

In [79]:
df = df.drop_duplicates(subset=["order_id"])
df.head()

,Unnamed: 0,store_id,order_id,product_id,price,profit,delivery_distance,planned_prep_time,region_id,order_price,items_count,prepared_on_time
0,0,5014.0,20562761.0,41.0,7.04,45.5040,2205.0,15.0,683.0,30.49,2.0,1.0
2,2,3856.0,20562753.0,7.0,51.94,30.3360,1368.0,10.0,683.0,240.78,2.0,1.0
4,4,10825.0,20562723.0,12.0,85.99,43.6080,459.0,20.0,683.0,85.99,1.0,1.0
5,5,8535.0,20562639.0,10.0,30.28,11.3128,1749.0,10.0,685.0,80.09,5.0,1.0
10,10,11449.0,20562617.0,12.0,85.99,4.4240,1040.0,20.0,695.0,85.99,1.0,1.0

## Выполните агрегацию на уровне store_id и рассчитайте перечисленные признаки

In [80]:
df_aggregated = df.groupby("store_id").agg(
    on_time_ratio=("prepared_on_time", "mean"),
    mean_items_count=("items_count", "mean"),
    avg_order_price=("order_price", "mean"),
    total_revenue=("order_price", "sum"),
    total_profit=("profit", "sum"),
    avg_profit=("profit", "mean"),
    unique_products=("product_id", "nunique"),
    num_orders=("order_id", "count"),
)

df_aggregated["profit_margin_overall"] = (
    df_aggregated["total_profit"] / df_aggregated["total_revenue"] * 100
)

## Проведите первичную проверку: размеры таблицы, типы, пропуски, базовые описательные статистики

In [81]:
df_aggregated.shape

(805, 9)

In [82]:
df_aggregated.head()

,on_time_ratio,mean_items_count,avg_order_price,total_revenue,total_profit,avg_profit,unique_products,num_orders,profit_margin_overall
store_id,,,,,,,,,
3053.0,0.781250,2.750000,87.238750,5583.28,4221.160500,65.955633,47,64,75.603597
3058.0,0.772727,2.818182,84.959545,1869.11,1379.071675,62.685076,17,22,73.782264
3061.0,1.000000,2.000000,45.330000,45.33,31.600000,31.600000,1,1,69.711008
3063.0,0.964286,2.250000,68.715357,1924.03,2274.648824,81.237458,23,28,118.223147
3147.0,0.600000,2.200000,53.971333,809.57,503.930554,33.595370,14,15,62.246693

In [83]:
df_aggregated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 805 entries, 3053.0 to 11963.0
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   on_time_ratio          805 non-null    float64
 1   mean_items_count       805 non-null    float64
 2   avg_order_price        805 non-null    float64
 3   total_revenue          805 non-null    float64
 4   total_profit           805 non-null    float64
 5   avg_profit             805 non-null    float64
 6   unique_products        805 non-null    int64
 7   num_orders             805 non-null    int64
 8   profit_margin_overall  805 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 62.9 KB

In [84]:
df_aggregated.isna()

,on_time_ratio,mean_items_count,avg_order_price,total_revenue,total_profit,avg_profit,unique_products,num_orders,profit_margin_overall
store_id,,,,,,,,,
3053.0,False,False,False,False,False,False,False,False,False
3058.0,False,False,False,False,False,False,False,False,False
3061.0,False,False,False,False,False,False,False,False,False
3063.0,False,False,False,False,False,False,False,False,False
3147.0,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
11931.0,False,False,False,False,False,False,False,False,False
11949.0,False,False,False,False,False,False,False,False,False
11959.0,False,False,False,False,False,False,False,False,False
11961.0,False,False,False,False,False,False,False,False,False
11963.0,False,False,False,False,False,False,False,False,False

# Задание 2. Масштабирование признаков

1) Выберите метод нормализации/стандартизации из sklearn (например, StandardScaler или MinMaxScaler).
2) Обучите скейлер на полном наборе агрегированных признаков и преобразуйте данные (для кластеризации и UMAP).
3) Покажите сводку: форма матрицы признаков до/после, распределения (по желанию — краткий комментарий).

## Выберите метод нормализации/стандартизации из sklearn (например, StandardScaler или MinMaxScaler)

In [85]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0.0, 1.0))

## Обучите скейлер на полном наборе агрегированных признаков и преобразуйте данные (для кластеризации и UMAP)

In [86]:
X = df_aggregated.values

X_scaled = scaler.fit_transform(X)

print("Форма X до масштабирования:", X.shape)
print("Форма X после масштабирования:", X_scaled.shape)

df_scaled = pd.DataFrame(
    X_scaled, columns=df_aggregated.columns, index=df_aggregated.index
)

df_scaled.head()

Форма X до масштабирования: (805, 9)
Форма X после масштабирования: (805, 9)

,on_time_ratio,mean_items_count,avg_order_price,total_revenue,total_profit,avg_profit,unique_products,num_orders,profit_margin_overall
store_id,,,,,,,,,
3053.0,0.781250,0.250000,0.197574,0.389420,0.636711,0.216465,0.779661,0.463235,0.016403
3058.0,0.772727,0.259740,0.192243,0.130237,0.207917,0.205570,0.271186,0.154412,0.015991
3061.0,1.000000,0.142857,0.099549,0.002970,0.004620,0.102011,0.000000,0.000000,0.015070
3063.0,0.964286,0.178571,0.154247,0.134070,0.343035,0.267376,0.372881,0.198529,0.026039
3147.0,0.600000,0.171429,0.119761,0.056300,0.075882,0.108658,0.220339,0.102941,0.013383

## Покажите сводку: форма матрицы признаков до/после, распределения (по желанию — краткий комментарий)

In [87]:
df_scaled.describe()

,on_time_ratio,mean_items_count,avg_order_price,total_revenue,total_profit,avg_profit,unique_products,num_orders,profit_margin_overall
count,805.000000,805.000000,805.000000,805.000000,805.000000,805.000000,805.000000,805.000000,805.000000
mean,0.830850,0.211602,0.193111,0.044461,0.048671,0.144145,0.091146,0.047077,0.017071
std,0.258366,0.150518,0.135030,0.076275,0.082489,0.114675,0.131748,0.083973,0.042539
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.720930,0.125000,0.106764,0.007401,0.007998,0.070625,0.016949,0.007353,0.006398
50%,1.000000,0.190476,0.171471,0.020646,0.022199,0.116306,0.050847,0.022059,0.010556
75%,1.000000,0.285714,0.244150,0.048890,0.053583,0.184162,0.118644,0.051471,0.017075
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000